@{
    ViewBag.Title = "Dares";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body>

https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyA7sgGHqdsJMhzEwP4pCRNefUEvwZCUWOA 









</body>