@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dare</h1>
    <p class="lead"></p>
    <p>Here at Dare, we wanted to change the way people partake in social media challenges.
We wanted to make an app that would let you show your friends and family all the cool and crazy things you do, we also wanted you to have the ability to challenge your friends and family.


    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
    </div>
    
        
    
</div>